.container {
    display: grid;
    grid-template-columns: auto auto;
}

.cell1 {
    background-color: greenyellow;
    width: 100%;
    height: 20rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.cell2 {
    background-color: orange;
    width: 100%;
    height: 20rem;
    border: 1px solid black;
    display: flex;
    align-items: center;
}